<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.dalc.one.dao.mybatis.mapper.UserMapper">
	<cache />
	<select id="getUserList" resultType="User">
		SELECT 
		USER_ID as ID,
		USER_NAME as NAME
		FROM USERINFO
	</select>
</mapper>