<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.dalc.one.dao.mybatis.mapper.UserMapper">
	<cache />
	<select id="getUserList" resultType="User">
		SELECT *
		FROM USERINFO
	</select>
	
	<select id="findUserbyUserId" resultType="User">
		SELECT *
		FROM USERINFO
		WHERE USER_ID = #{id}
	</select>
	
	<insert id="signUp" parameterType="User">
		INSERT INTO USERINFO
		(USER_ID, USER_NAME, PASSWORD, EMAIL, NICKNAME, GENDER, AGE)
		VALUES
		(#{id}, #{name}, #{password}, #{email}, #{nickname}, #{gender}, #{age})
	</insert>
</mapper>